/* *{
    font-family: ;
} */
body{
    font-family: 'Nunito Sans' !important;
    /* font: 'Roboto Condensed' !important; */
    /* font-family: Verdana, Tahoma, sans-serif !important; */
}
.button-color{
    background: #01A85A;
}
.image-size{
    height: 45px;
    width: 60px;
}
.border-color {
    border: 1px solid  #01A85A !important;
}

.text-color{
    color:  #01A85A !important;
}
.default-btn {
    font-weight: 600;
    white-space: initial;
    font-size: 1rem;
    border-radius: 3rem;
    border: 1px solid  #01A85A;
    padding: .5rem 1.25rem;
    width: auto;
    outline: transparent !important;
    min-width: 121px;
  }
  .input-box{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    outline: transparent !important;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  
  @media screen and (max-width: 700px) {
    .border-sm-none{
        border: none !important;
    }
  }